SQL_HOST=10.10.x.x
SQL_DATABASE=QL_SinhVien
SQL_USERNAME=sa
SQL_PASSWORD=P@55W0RD

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=abcdef@gmail.com
EMAIL_PASSWORD=P@55W0RD
EMAIL_NAME=HTQL_SVTT

TELEGRAM_TOKEN=XXXX
ADMIN_CHAT_ID=333

DEFAULT_PASSWORD=MatKhauMoiNe